/* Global Styles */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f6f7eb;
}

hr {
	width: 60%;
	border-color: #f16248;
	margin-top: 50px;
}
p {
	color: #771f00;
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -10%;
}

.text-vertical-center h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* Custom Button Styles */
.btn {
	margin: 20px;
}
.btn-dark {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #771f00;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #fff;
  background-color: #f16248;
}

.btn-light {
  color: #333;
  border: none;
  border-radius: 0;
  background-color: #f6916b;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
  color: #333;
  background-color: #f16248;
}


/* Custom Horizontal Rule */

hr.small {
  max-width: 100px;
}

.separator {
	border: none;
	height: 3px;
	background-color: #771f00;
	width: 80%;
}
.main-divide {
	width: 100%;
	height: 45px;
}

/* Side Menu */

#sidebar-wrapper {
  position: fixed;
  z-index: 1000;
  right: 0;
  overflow-y: auto;
  width: 250px;
  height: 100%;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  transform: translateX(250px);
  background: #771f00;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  font-size: 18px;
  line-height: 55px;
  height: 55px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.toggle {
  font-size: 1em;
  margin: 5px 5px 0 0;
  padding: 15px 20px;
}


/* Header */

.header {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2, h3 {
	color: #771f00
}
/* About */

.about {
  padding: 50px 0;
}
caption {
	display: table-caption;
	caption-side: top;
	text-align: center;
	color: #771f00;
	font-size: 40px;
}
.resources {
	margin: auto;
	margin-top: 100px;
	padding: 30px;
	table-layout: fixed;
	width: 90%;
	color: #771f00;
}
.resources th, td {
	text-align: center; 
	width: 250px;
	padding: 20px;
}

.more-links {
	text-align: center;
	font-size: 20px;
}
/* Portfolio */

.portfolio {
  padding: 50px 0;
  color: #771f00
}

.portfolio-item {
  margin-bottom: 30px;
}

.img-portfolio {
  margin: 0 auto;
}

.portfolio-item:hover{
  opacity: .70;
}

.portfolio-header {
  font-size:20px;
  text-align:left;
}
.portfolio ul li {
  text-align: left;
}

a{
	color: #f16248;
}
.portfolio-title {
  text-align: left; 
  margin: 5px;
  font: bold; 
  color: #771f00
}
.portfolio-description {
  font-style:italic; 
  font-size: 12px;
  margin: 5px;
  text-align: left;
  color: #771f00
}

.prize {
	color: #f6916b;
}
.portfolio-item a {
  text-decoration: none; 
  color: black; 
}

